/* common styles */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px; }

/* grid */
.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 15px; }

.row {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between; }

.row + .row {
  margin-top: 15px; }

.clearfix::after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }

.section {
  padding-bottom: 50px; }
  .section .title {
    margin-bottom: 20px; }

/* buttons & fields */
input {
  width: 100%;
  font-size: 18px; }

.toggler {
  -webkit-animation: showToggler 300ms ease-out;
  animation: showToggler 300ms ease-out;
  cursor: pointer;
  height: 25px;
  margin: 10px 0;
  user-select: none; }
  .toggler .choices {
    -webkit-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
    cursor: pointer;
    position: relative;
    display: block;
    width: 100%;
    height: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #a7a8ac;
    z-index: 2; }
    .toggler .choices:before, .toggler .choices:after {
      -webkit-transition: background-color 300ms ease-out;
      transition: background-color 300ms ease-out;
      content: "";
      position: absolute;
      top: 0;
      width: 25px;
      height: 25px;
      background-color: #a7a8ac;
      border-radius: 100%;
      z-index: 1; }
    .toggler .choices:before {
      left: 0;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%); }
    .toggler .choices:after {
      right: 0;
      -webkit-transform: translateX(50%);
      transform: translateX(50%); }
  .toggler .choice {
    -webkit-transition: opacity 300ms ease-out;
    transition: opacity 300ms ease-out;
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    width: 50%;
    height: 25px;
    font: 1.1rem/25px Verdana;
    text-transform: uppercase;
    color: #fff;
    z-index: 2; }
  .toggler .on {
    opacity: 0; }
  .toggler .knob {
    -webkit-animation: inactiveKnob 300ms ease-out;
    animation: inactiveKnob 300ms ease-out;
    -webkit-transition: left 300ms ease-out;
    transition: left 300ms ease-out;
    position: absolute;
    left: 1px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    width: 0;
    height: 19px;
    background: #fff;
    z-index: 3; }
    .toggler .knob:before, .toggler .knob:after {
      content: "";
      position: absolute;
      top: 0;
      width: 19px;
      height: 19px;
      border-radius: 100%;
      background: #fff; }
    .toggler .knob:before {
      left: -10px; }
    .toggler .knob:after {
      right: -9px; }
  .toggler .toggler-input:checked + .choices {
    background: #00C853; }
    .toggler .toggler-input:checked + .choices:before, .toggler .toggler-input:checked + .choices:after {
      background: #00C853; }
    .toggler .toggler-input:checked + .choices .knob {
      -webkit-animation: activeKnob 300ms ease-out forwards;
      animation: activeKnob 300ms ease-out forwards;
      left: 99%; }
    .toggler .toggler-input:checked + .choices .on {
      opacity: 1; }
    .toggler .toggler-input:checked + .choices .off {
      opacity: 0; }

@-webkit-keyframes showToggler {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes showToggler {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes activeKnob {
  20% {
    width: 50%; }
  90% {
    width: 0; } }
@keyframes activeKnob {
  20% {
    width: 50%; }
  90% {
    width: 0; } }
@-webkit-keyframes inactiveKnob {
  40% {
    width: 50%; }
  60% {
    width: 0; } }
@keyframes inactiveKnob {
  40% {
    width: 50%; }
  60% {
    width: 0; } }
.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 10px;
  border-radius: 5px;
  transition: 0.2s ease;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  outline: 0; }
  .btn_blue {
    min-width: 210px;
    background: #4FC3F7; }
    .btn_blue:hover {
      background: #14aff4; }
  .btn_red-mod {
    min-width: 210px;
    background: #ef5350; }
    .btn_red-mod:hover {
      background: #ea1c18; }
  .btn_yellow {
    background: #FDD835;
    min-width: 210px; }
    .btn_yellow:hover {
      background: #FBC02D; }
  .btn_green {
    color: #fff;
    background-color: #4CAF50; }
    .btn_green:hover {
      background: #23923d; }
  .btn_purple {
    background: #AB47BC;
    color: #fff; }
    .btn_purple:hover {
      background: #913aa0; }
  .btn_red {
    background: #e53935; }
    .btn_red:hover {
      background: #d6201c; }
  .btn_sm {
    height: 36px;
    line-height: 36px; }
  .btn_md {
    height: 45px;
    padding: 0 20px;
    line-height: 45px;
    text-transform: uppercase; }
  .btn_lg {
    padding: 0 30px;
    color: #fff;
    height: 65px;
    line-height: 65px;
    text-transform: uppercase; }
  .btn_add {
    padding: 5px 68px;
    text-transform: uppercase; }

.edit-btn {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  background: #1E88E5;
  border-radius: 5px;
  transition: 0.2s ease; }
  .edit-btn img {
    width: 22px;
    height: 22px;
    margin-top: 3px; }
  .edit-btn:hover {
    background: #1976D2; }

.form-label {
  height: 35px;
  line-height: 29px;
  padding: 0 15px;
  background: #E0E0E0;
  border: 2px solid #000;
  border-radius: 10px;
  min-width: 220px; }
  .form-label__tooltip {
    font-size: 16px; }
  .form-label_bold {
    display: block;
    padding: 0 0 0 10px;
    font-weight: 700;
    font-size: 14px;
    min-width: 310px;
    height: 38px;
    line-height: 35px; }

.form-message {
  resize: none;
  width: 100%;
  min-height: 110px;
  padding: 15px;
  border: 2px solid #37474F;
  border-radius: 10px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif; }

.form-field input {
  width: 100%;
  height: 38px;
  padding: 0 15px;
  border: 2px solid #37474F;
  border-radius: 10px;
  font-size: 18px; }
.form-field_has-btn {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center; }
  .form-field_has-btn button {
    margin-left: 10px;
    flex-shrink: 0; }
.form-field_sm {
  flex-basis: 216px; }
.form-field_lg {
  flex-basis: 515px; }
.form-field_md {
  flex-basis: 450px; }
.form-field_big {
  flex: 1 0 auto; }
  .form-field_big input {
    height: 50px; }

.is-btn-gray {
  text-align: center;
  background: #E0E0E0;
  border: 0 !important; }

.is-btn-orange {
  background: #FFA000;
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
  height: 45px !important;
  font-weight: 700;
  box-shadow: none !important;
  border: 0 !important; }

.is-title {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 28px !important;
  text-align: center;
  border: 0 !important; }

.title {
  text-transform: uppercase;
  font-size: 28px; }

.descr {
  font-size: 18px;
  font-family: Arial; }

.logo {
  text-decoration: none;
  text-align: center; }
  .logo img {
    width: 240px; }
  .logo p {
    color: #000;
    font-size: 14px; }

/* header */
.header {
  padding: 30px 0 50px; }
  .header .container {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: flex-start; }
  .header__location {
    margin-left: 40px;
    font-size: 0; }
    .header__location svg {
      display: inline-block;
      vertical-align: middle;
      width: 30px;
      height: 30px; }
    .header__location span {
      display: inline-block;
      vertical-align: middle;
      margin-right: 15px;
      font-size: 20px;
      font-weight: 700; }
      .header__location span:last-child {
        margin-right: 0; }
  .header__actions {
    margin-left: auto;
    text-align: center; }
    .header__actions-btn {
      display: block;
      min-width: 214px;
      width: 100%;
      margin-bottom: 5px; }
    .header__actions a {
      color: #4CAF50; }
      .header__actions a:hover {
        text-decoration: none; }

/* hero */
.hero {
  position: relative;
  padding: 70px 35px 50px;
  border: 6px solid #78909C; }
  .hero__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    z-index: -1;
    background-size: cover;
    background-position: 50% 50%; }
  .hero__choose-btn {
    float: left;
    margin-top: 20px; }
    .hero__choose-btn input {
      display: none; }
  .hero__form {
    float: right;
    width: 400px; }
    .hero__form .form-field {
      margin-top: 15px; }
      .hero__form .form-field:first-child {
        margin-top: 0; }
    .hero__form input {
      width: 350px; }

/* employees */
.employees {
  padding: 50px 0 70px; }
  .employees__add-btn {
    margin-top: 30px;
    float: left; }
  .employees .title {
    margin-bottom: 20px; }
  .employees .row + .row {
    margin-top: 20px; }
  .employees .form-field {
    flex-basis: 450px; }
    .employees .form-field input {
      border: 0;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
  .employees .form-field_has-btn {
    float: right;
    margin-top: 30px;
    flex-basis: auto; }
    .employees .form-field_has-btn input {
      width: 336px; }

.study {
  text-align: center; }
  .study .title {
    margin-bottom: 20px; }
  .study .form-field_has-btn {
    margin-top: 20px;
    width: 430px; }
  .study__item {
    flex: 1 1 33.33333%;
    padding: 0 15px;
    text-align: center; }
    .study__item-img img {
      max-width: 100%; }
    .study__item a {
      font-weight: 700;
      color: #000;
      transition: 0.15s ease; }
      .study__item a:hover {
        text-decoration: none;
        color: #e53935; }
  .study__btn {
    margin-top: 25px;
    text-transform: none; }

.advantages .title {
  margin-bottom: 25px; }
.advantages .row {
  align-items: center;
  justify-content: flex-start;
  margin-top: 25px; }
  .advantages .row:first-child {
    margin-top: 0; }
.advantages .form-field {
  flex: 0 1 575px; }
.advantages__label {
  margin-left: 20px;
  color: #9f9f9f; }

.programs .title {
  margin-bottom: 0; }
.programs__labels {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  padding: 20px 17px 10px 115px; }
.programs__field {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center; }
  .programs__field + .programs__field {
    margin-top: 15px; }
  .programs__field .toggler {
    width: 70px; }
  .programs__field .form-field {
    margin-left: 30px; }
    .programs__field .form-field:last-child {
      margin-left: auto; }

.trial .row {
  margin-top: 30px; }
.trial .form-field_has-btn {
  flex-basis: 360px; }

.feed__add-btn {
  margin-top: 30px; }

.contacts .row {
  align-items: center; }
.contacts .form-field {
  flex-basis: 655px; }

.socials .row {
  align-items: center; }
.socials .row + .row {
  margin-top: 25px; }
.socials__icon {
  width: 58px;
  height: 58px;
  margin-right: 50px; }
  .socials__icon img {
    display: block;
    width: 100%; }

.requests .descr {
  margin-bottom: 20px; }
.requests .row + .row {
  margin-top: 25px; }
.requests .row-wrap {
  padding-right: 130px; }

.footer {
  padding: 10px 0 40px; }
  .footer .container {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between; }

.dev {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center; }
  .dev span {
    margin-right: 8px;
    color: gray; }
  .dev img {
    width: 100px; }

.breadcrumb.container {
  display: block;
  padding: 30px 20px; }
.breadcrumb__list {
  margin-bottom: 10px;
  font-size: 0; }
.breadcrumb__item {
  display: inline-block;
  vertical-align: middle; }
  .breadcrumb__item img {
    display: inline-block;
    vertical-align: -5px;
    margin-left: 10px;
    width: 22px;
    height: 22px;
    pointer-events: none; }
  .breadcrumb__item + .breadcrumb__item {
    margin-left: 10px; }
.breadcrumb a {
  text-transform: uppercase;
  text-decoration: none;
  color: #2196F3;
  font-size: 18px; }
  .breadcrumb a img {
    display: inline-block;
    vertical-align: -6px;
    width: 22px;
    height: 22px; }
  .breadcrumb a span {
    display: inline-block;
    vertical-align: middle; }

.add {
  padding-bottom: 50px; }
  .add .title {
    margin-bottom: 40px;
    text-align: center; }
  .add .form-field {
    flex: 1 0 auto;
    margin-left: 20px; }
  .add__video {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0; }
  .add__actions {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    margin: 50px 0 0; }
    .add__actions .btn {
      min-width: 420px; }

/*# sourceMappingURL=main.css.map */
